<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728339169794-atq937dgl7ja4db3tpldneh1p04n3j5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728339169794-atq937dgl7ja4db3tpldneh1p04n3j5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCs2w7JBJZdazZmt0-GZokpJDhL-qqF8Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>728339169794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solutionanalysts.iMovieGrade</string>
	<key>PROJECT_ID</key>
	<string>application-349ee</string>
	<key>STORAGE_BUCKET</key>
	<string>application-349ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728339169794:ios:8c62e86f80605fbf</string>
	<key>DATABASE_URL</key>
	<string>https://application-349ee.firebaseio.com</string>
</dict>
</plist>